/*html color codes es util
jugar con backgrounf image y rbga encims para que se vea la imagen de fondo con color
#fed4d4
#eec9c9 h2 fondo 
#debfbf
#cfb4b4
#bfaaaa background body
#af9f9f
#9f9595 titulo
#8f8a8a letra

*/

body{
    background-color: #bfaaaa
}

h1{

}

h2{
    background-color: #eec9c9 
}

p{
    text-align: justify
}

a{

}

ul{

}

li{

}

.container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container > div { /* ">" es para que solo afecte a los divs hijos directos */
    flex: 1; /* Ambos divs ocupan el mismo ancho */
}

.container div:first-child {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Ajusta según necesites */
}

.about-me {
    background-color: #e939c9;
    padding: 20px;
    margin-right: 5%; /* Deja espacio fuera del div */
    border-radius: 10px;
}
